body {
	margin: 0 auto;
	padding: 0 auto;
	text-transform: Capitalize;
	font-family: 'Lato', sans-serif;
}

#more {
	display: none;
}

.main-body p .readmore {
	cursor: pointer;
	color: green;
}

.main-body p .readmore:hover {
	color: red;
}

i {
	/* border:1px solid white; */
	/* border-radius:100px; */
}

.container {
	/* max-width: 740px; */
}

/*Cover area*/
.cover {
	height: 150px;
	margin: 0px;
	/* position:absolute; */
	background-image: url("../image/1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: #670a0aa8;
}


/*Body area*/
.main-body {
	top: 0px;
	padding: 30px;
}

@media (max-width: 724px) {
	.main-body {
		padding-left: 20px;
	}
}

@media (max-width: 700px) {
	.main-body {
		padding-left: 10px;
	}
}

@media (max-width: 686px) {
	.main-body {
		padding: 0px;
		overflow: scroll;
	}
}

@media (max-width: 575px) {
	.main-body {
		padding: 10%;
		overflow: scroll;
	}
}

/* @media (max-width: 576px) { */
	.rightside .title .img{
		display: block;
		/* margin-left: 10%; */
	}

	.img-thumbnail {
		margin-bottom: 10px;
	}
/* } */

.main-body h3 {
	background-color: #670a0aa8;
	text-align: center;
	color: white;
	font-weight: 600;
	line-height: 1.6;
	font-size: 18px;
}

.main-body p {
	font-size: 15px;
	text-align: justify;
}

/*Table area*/
.main-body .table {}

.main-body .table thead tr {
	width: 100%;
}

.main-body .table thead tr th {
	/* width:33%; */
	/* height:auto; */

	text-align: justify;
	width: 20%;
	height: auto;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	color: #000;
}

.main-body .table tbody tr {
	width: 100%;
}

.main-body .table tbody tr td {
	/* text-align: justify; */
	width: 20%;
	height: auto;
	font-size: 13px;
	cursor: pointer;
}

.main-body .table tbody tr td a {
	text-align: justify;
	font-size: 13px;
	font-weight: bold;
	color: Green;

}

.main-body .table tbody tr td a:hover {
	color: red;
}

.main-body .References {

	box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.1);
	transition: 0.5s;

}

.main-body .References:hover {


	background: rgba(218, 219, 210, .2);
	box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.5);
	border: 0px solid black;
	transition: 0.5s;
}

.main-body .References li a {
	color: black;
	text-decoration: none;
}

.main-body .References li a:hover {
	color: #17A2B8;
}

.main-body .extra a {
	font-size: 13px;
	font-weight: bold;
	color: Green;

}

.main-body .extra a:hover {
	color: red;
}

.main-body .project {
	padding-bottom: 20px;
}

/*********************/
/*Right side-bar area*/
/*********************/

.col-md-4,
.footer {
	background-color: #670a0aa8;
}

.rightside {
	max-width: 820px;
	padding: 20px !important;
}

@media (max-width: 738px) {
	.rightside {
		padding: 30px 15px !important;
	}
}

/*Title area*/
.rightside .title {
	padding: 10px 0px;
	color: white;
}

.rightside .title .img-thumbnail:hover {
	background-color: rgb(51, 51, 51);
	border: 1px solid black;
}

.rightside .title h3 {
	font-weight: Bold;
	font-size: 1.73rem;
}

/*Responsive of H3*/
@media (max-width: 738px) {
	.rightside .title h3 {
		/* font-size: 1.49rem; */
	}
}

@media (max-width: 660px) {
	.rightside .title h3 {
		font-size: 1.45rem;
	}
}

.rightside .title p {}

.rightside .title p,
a {
	font-size: 0.97rem;
	text-decoration: none;
	color: white;
}

.rightside .title a {
	color: rgba(255, 231, 123, 1);
	text-align: right;
}

.rightside .title p,
a:hover {
	color: white;
}
.rightside .title .img {
	overflow: auto;
}
/*Details Area*/
.rightside .details {
	margin: 0px 2px;
	padding: 0px 2px;
}

.rightside .details h3 {
	padding: .5rem !important;
	background-color: white;
	text-align: center;
	font-weight: 600;
	line-height: 0.6;
	font-size: 18px;
}

.rightside .details p {
	padding: 0px 10px;
	text-align: left;
	display: block;
}

.rightside .details ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.rightside .details ul li {
	/* float: left; */
	margin: 5px 0px;
	padding: 0px 10px;
	text-align: left;
}

.rightside .details ul li a {
	display: block;
	color: white;
	padding: 5px 0px;
	text-decoration: none;
}

.rightside .details ul li a:hover {
	text-decoration: underline;
}

@media (max-width: 647px) {

	.rightside .details ul li a {
		padding: 14px;
	}
}

@media (max-width: 622px) {
	.rightside .details ul li a {
		padding: 13px;
	}
}

@media (max-width: 598px) {
	.rightside .details ul li a {
		padding: 12px;
	}
}

.footer {
	color: transparent;
	clear: both;
}

.footer .row .globe .fa-download {
	font-size: 2rem;
}

.footer .row .globe .fa-copyright {
	font-size: 1rem;
}

.footer .row .globe .fa-download,
.fa-copyright {
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
}

.footer .row .globe .fa-download:hover,
.fa-copyright:hover {
	color: #400;
	border: .5px solid #000;
}